body {
  font-family: font(primary);
  font-size: size(base);
  color: color(black);
}

a {
  color: color(blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font(secondary);
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.hidden-on-mobile {
  @include on(small) {
    display: none;
  }
}

.hidden-on-desktop {
  @include on(large) {
    display: none;
  }
}