$spacing-unit: 4px;

$spacing-xs: spacing(2); // 8px
$spacing-sm: spacing(5); // 20px
$spacing-md: spacing(7); // 28px
$spacing-lg: spacing(13); // 52px
$spacing-xl: spacing(17); // 68px
$spacing-xxl: spacing(25); // 100px

@function spacing($number) {
  @return $spacing-unit * $number;
}